html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    text-transform: uppercase;
}

header {
    text-align: center;
}

article {
    text-align: center;
}

footer {
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.categorias-list {
    clear: both;
    margin-left: 10%;
    margin-right: 10%;
}

.categorias-list li {
    float: left;
    width: 50%;
    text-align: center;
    font-size: medium;
    font-style: italic;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px;
}

.categorias-list li:last-child {
    float: none;
    clear: both;
    margin: auto;
}

.articulos-list {
    list-style-type: none;
    text-align: center;
    clear: both;
}

.articulos-list li {
    display: inline;
    margin: 8px;
    white-space: nowrap;
    text-transform: uppercase;
}

.font-style-1 {
    color: #ff0000;
    font-size: 2.4em;
}

.font-style-2 {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 18pt;
    color: rgb(153, 0, 0);
    text-transform: uppercase;
}

.font-style-3 {
    font-size: large;
    color: rgb(11, 83, 148);
    text-transform: uppercase;
}

.font-style-cs-1 {
    font-family: Comic Sans MS;
    color: rgb(7, 55, 99);
    font-size: x-large;
    font-style: italic;
    text-transform: uppercase;
}

.font-style-cs-2 {
    font-family: Comic Sans MS;
    color: rgb(176, 0, 0);
    font-size: medium;
    text-transform: uppercase;
}

.font-style-cs-3 {
    font-family: Comic Sans MS;
    color: rgb(176, 0, 0);
    font-size: 10pt;
}

.font-style-cs-4 {
    clear: both;
    font-family: Comic Sans MS;
    font-size: medium;
    font-style: italic;
    color: #00000;
    text-transform: uppercase;
}

/* ofertas */
.ofertas-list {
    margin-bottom: 1em;
}

.ofertas-list > li {
    display: inline-block;
}

.oferta {
    vertical-align: top;
    margin: .4em;
    padding: 1em;
    background-color: #f0f0f0;
}

.oferta > .precio {
    display: block;
    margin: .4em;
    font-size: 1.4em;
    color: #ff0000;
}

/* productos */
.productos-list > li {
    width: 200px;
    display: inline-block;
    vertical-align: top;
}

.productos-list > li > img {
    width: 200px;
}

